
 
        <div class="card panel-group" id="accordion" role="tablist" aria-multiselectable="false">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title card-header card-title">

                    <a href="#" aria-controls="collapseOne" class="download-icon">
                      <div class="dropdown" >
                      <i class="fa fa-download" aria-hidden="false"></i>
                        <div class="dropdown-content">
                        <ul id="chart-selector1">
                          <p class="col-md-12 dropdown-item" data-click="JPG">JPG</p>
                          <p class="col-md-12 dropdown-item" data-click="PNG">PNG</p>
                          <p class="col-md-12 dropdown-item" data-click="PDF">PDF</p>
                          <p class="col-md-12 dropdown-item" data-click="CSV">CSV</p>
                        </ul>
                      
                        </div>
                    </div>
                    </a>
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
                       {{chartTitle}}</a>
                    </h4>
                    
                  </div>
                  <div id="collapse1" class="panel-collapse  in" role="tabpanel" aria-labelledby="headingOne">
                   <div class="panel-body">
                    <div class="border-0">
                        <div id="pieDiv"></div> </div>
                    </div>
                </div>
                </div> 
              </div>  
       
        
        
        
        