<p>amexport works!</p>

<div class="col-sm-12"> 
    <div class="box box-primary"> 
     <ul id="chart-selector1">
       <li class="dropdown-item" data-click="JPG">JPG</li>
       <li class="dropdown-item" data-click="PNG">PNG</li>
       <li class="dropdown-item" data-click="SVG">SVG</li>
       <li class="dropdown-item" data-click="CSV">CSV</li>
       <li class="dropdown-item" data-click="JSON">JSON</li>
       <li class="dropdown-item" data-click="PDF">PDF</li>
       <li class="dropdown-item" data-click="XLSX">XLSX</li>
       <li class="dropdown-item" data-click="PRINT">Print</li>
     </ul>
   </div>
 </div> 
 <div class="col-sm-12">
   <div class="box box-primary">
     <div id="chartdiv1"></div>
   </div>
 </div>
